/* html {
  height: 100%;
} */

body {
  height: 100%;
  margin: 0;
}


.App {
  text-align: center;
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}

.about {
  backdrop-filter: opacity(20%);
  display: grid;
  background-image: url('./bryantPark.png');
  background-size: 100%;
  background-position: bottom 0px right 500px;
  background-attachment:fixed;
  grid-column: 1 / 2 ;
  height:100%;
}

.aboutContent {
  backdrop-filter: contrast(35%) blur(3px);
  position: sticky;
  bottom:0px;
  height: 100vh;
  color: greenyellow;
  font-weight: bold;
}
.rightPanel {
  grid-column: 2 / 2 ;
  height: 100%;
  background-color: aliceblue;
} 

.logo {
  max-height: 3vh;
  border-radius: 4px;
  margin: 20px;
}

.projTitle{
  margin: 1vh auto;
}
.carousel {
  max-height: 60vh;
  max-width: 60vw;
  margin: 5vh auto;
}
.carousel-item {
  max-height: 60vh;
  max-width: 40vw;
  border-radius: 5px;
  margin:  0 15%;

}

.title {
  padding: 50px;
}

.intro {
  margin: 40px;
  font-size: 20px;
}

.skills {
  margin: 40px;
  font-size: 20px;
}

#headshot {
  max-height: 12vh;
  border-radius: 100px;
  border: slategray solid 3px;
  margin: 10px;
}