/* html {
  height: 100%;
} */

body {
  height: 100%;
  margin: 0;
}


.App {
  text-align: center;
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}

.about {
  display: grid;
  background-image: url('./bryantPark.png');
  background-size: 100vh auto;
  background-position: cover;
  background-attachment:fixed;
  grid-column: 1 / 2 ;
  height:100%;
}

.aboutContent {
  position: sticky;
  top: 25vh;
  left: 10px;
  color:yellow;
}
.rightPanel {
  grid-column: 2 / 2 ;
  height: 100%;
  background-color: aliceblue;
} 

.logo {
  max-height: 3vh;
  border-radius: 4px;
  margin: 20px;
}

.projTitle{
  margin: 1vh auto;
}
.carousel {
  max-height: 60vh;
  max-width: 60vw;
  margin: 5vh auto;
}
.carousel-item {
  max-height: 60vh;
  max-width: 40vw;
  border-radius: 5px;
  margin:  0 15%;

}


#headshot {
  max-height: 12vh;
  border-radius: 100px;
  border: slategray solid 3px;
  margin: 10px;
}